body {
    width: 800px;
}

.container {
    display: flex;
    height: 800px;
    flex-wrap: wrap;
    background-color: black;
}

.btnContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
    margin-bottom: 24px;
}

.light {
    background-color: white;
}